<%- include('header') %>

<!-- global issuers -->
<div class="d-flex align-items-center justify-content-between mt-3">
    <div>
        <h3 class="mb-0"><%= title %></h3>
        <p class="text-secondary mt-0 mb-0"><%= subtitle %></p>
    </div>
    <a class="btn btn-primary ms-3" href="<%= new_url %>" role="button">New</a>
</div>


<table class="table mt-3">
    <thead>
        <tr>
            <% for (const header of table.headers) { %>
            <th scope="col"><%= header %></th>
            <% } %>
        </tr>
    </thead>
    <!-- <tbody>
        <tr>
            <th scope="row">Chase</th>
            <td>4F768A3B-0781-4688-AC22-D91B9A684B7A</td>
            <td>283-493,495-293,192-449</td>
            <td>N/A</td>
        </tr>
    </tbody> -->
</table>

<%- include('footer') %>